<app-topbar></app-topbar>
<div style="padding: 10px;">
<h5> {{strQ}}</h5>
<p>Please select a rating and tap Submit</p>
<app-scale-answer strNum="{{strNum1}}" strText="{{strAns1}}" imgIcon="{{img1}}" faIcon="{{fa1}}" clsColour="{{clsColour1}}"></app-scale-answer>
<app-scale-answer strNum="{{strNum2}}" strText="{{strAns2}}" imgIcon="{{img2}}" faIcon="{{fa2}}" clsColour="{{clsColour2}}"></app-scale-answer>
<app-scale-answer strNum="{{strNum3}}" strText="{{strAns3}}" imgIcon="{{img3}}" faIcon="{{fa3}}" clsColour="{{clsColour3}}"></app-scale-answer>
<app-scale-answer strNum="{{strNum4}}" strText="{{strAns4}}" imgIcon="{{img4}}" faIcon="{{fa4}}" clsColour="{{clsColour4}}"></app-scale-answer>
<app-scale-answer strNum="{{strNum5}}" strText="{{strAns5}}" imgIcon="{{img5}}" faIcon="{{fa5}}" clsColour="{{clsColour5}}"></app-scale-answer>
</div>
<hr />
<p class="scale_showSelected alert alert-danger">Please select an option...</p>
<button data-toggle="modal" data-target="#scaleModal" class="scale_submit btn btn-primary " disabled><i
        class="fas fa-check-square"></i> Submit</button>
<button class="scale_back btn btn-danger " onclick="window.location='/ipc'"><i class="fas fa-times"></i>
    Cancel</button>

    <!-- <app-topbar></app-topbar>
    <div style="padding: 10px;">
    <h5><i class="fas fa-running"></i> <i class="fas fa-bed"></i> How limited are you feeling now?</h5>
    <p>Please select a rating and tap Submit</p>
    <app-scale-answer strNum="0" strText="Active; Fully Able" htmlIcon="assets/0.png" clsColour="btn-success">
    </app-scale-answer>
    <app-scale-answer strNum="1" strText="Active; Slightly Restricted" htmlIcon="assets/1.png" clsColour="btn-primary">
    </app-scale-answer>
    <app-scale-answer strNum="2" strText="Able to Self-care; 50% Active" htmlIcon="assets/2.png" clsColour="btn-warning">
    </app-scale-answer>
    <app-scale-answer strNum="3" strText="Able to Limited Self-care; Inactive" htmlIcon="assets/3.png"
        clsColour="btn-danger"></app-scale-answer>
    <app-scale-answer strNum="4" strText="Completely Disabled; Bound to Bed or Chair" htmlIcon="assets/4.png"
        clsColour="btn-dark"></app-scale-answer>
    </div>
    <hr />
    <p class="scale_showSelected alert alert-danger">Please select an option...</p>
    <button data-toggle="modal" data-target="#scaleModal" class="scale_submit btn btn-primary " disabled><i
            class="fas fa-check-square"></i> Submit</button>
    <button class="scale_back btn btn-danger " onclick="window.location='home.design.html'"><i class="fas fa-times"></i>
        Cancel</button>
    
     -->



<div class="modal fade" id="scaleModal" tabindex="-1" aria-labelledby="submitScaleMsg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scaleModalLabel">Submit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="scaleModal-body">
                <p>Is this correct? Submit this rating now?</p>
                <b>
                    <p class="scale_showSelected"></p>
                </b>
                <div class="alert alert-warning">A friendly reminder that this is a scale <b>from most able to least
                        able</b> - illustrated by a black circle -, not the other way around. Ensure you have chosen
                    accordingly.</div>
            </div>
            <div class="modal-footer">
                <button id="okButton" onclick="window.onbeforeunload = null" type="button" class="modal_done btn btn-success"><i class="fas fa-chevron-right"></i> Confirm!</button>
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fas fa-times"></i> Go
                    Back</button>
            </div>
        </div>
    </div>
</div>