.row a:not(.logoutbtn) {
    text-decoration: none;
}

.row a:not(.logoutbtn), .logoutbtn {
    color: white;
}

.drop a {
    color: black;
}

.dropmenu {
    position: absolute;
    display: none;
    background: white;
    min-width: 200px;
    margin-top: 10px;
    margin-left: -15px;
    padding: 5px;
    border: solid thin #8884;
    box-shadow: 0 2px 5px #0004;
}

.dropmenu hr {
    border-color: gray;
}

.drop:hover .dropmenu {
    display: block;
}

.dropmenu a {
    display: block;
    width: 100%;
}

.dropmenu a:not(.logoutbtn) {
    color: #535F67;
}

.row a {
    padding: 10px;
    cursor: pointer;
}

.row a:hover {
    background: #8884;
}

.row a:not(.logoutbtn):hover {
    color: dodgerblue;
}

@media only screen and (max-width: 800px) {
    .nh_topbar_back {
        height: 47px;
    }
    .home {
        justify-content: space-around;
    }
}

.container {
    margin: 0 10px;
}

.nh_logo {
    vertical-align: center;
    padding: 5px;
    border-top: solid thick #005cb9;
    background-color: white;
}

.nh_logo img {
    display: inline-block;
    margin: 10px;
}

.row {
    margin: 0;
}

.banner {
    background: #535F67;
}

.logoutbtn i {
  color: red;
}

.logoutbtn:hover {
    color: red;
}