<body class="home_grad">

    <!-- Body -->
    <app-topbar strTitle="IPC" bolShowBackSpacer="false"> </app-topbar>

    <div>
      
        <div class="panel panel-default custom">
            <div class="panel-heading text-center">IPC</div>

            <div class="panel-body text-center">
                <button routerLink="/ecog" class="home_btn btn btn-primary"><i class="fas fa-running"></i><br />Record ECOG
                    Status</button>
                <button class="home_btn btn btn-success"><i class="fas fa-theater-masks"></i><br />Record Likert
                    Score<span style="font-size:x-small">
                        ("LICK-ert")</span> </button>
                <button routerLink="/fluidtest" class="home_btn btn btn-dark"><i
                        class="fas fa-tint"></i><br />Record Fluid Drain</button>
                <button class="home_btn btn btn-danger"><i class="fas fa-thumbtack"></i><br />Record VAS Scores</button>
                <button onclick="document.location = 'start.survey.design.html'" class="home_btn btn btn-warning"><i
                        class="fas fa-grin-beam-sweat"></i><br />Record HADS Score</button>
                <button class="home_btn btn btn-info"><i class="fas fa-thumbs-up"></i><br />Record QoL Scores</button>

            </div>
        </div>
    </div>
    <br>
</body>
    <app-test-footer></app-test-footer>