<app-topbar></app-topbar>
<div style="padding: 10px;">
    <h5>Please enter how you are feeling today.</h5>
    <p>Please specify how you are feeling using the material below. 100 is the best health you can imagine, 0 is the
        worst health you can imagine.</p>
    <hr>
    <div style="text-align: center  ">
        <p>Please rate how you are feeling as a number from 0-100</p>
        <div style="display:inline-block">
            <div style="width: 300px" class="input-group mb-3">
                <input id="fluidInput" min="0" type="number" class="form-control" aria-label="Fluid drawn"
                    aria-describedby="basic-addon2">

            </div>

        </div>
        <hr>
        <p>Please mark how you are feeling using this slider. (Does not have to match number exactly)</p>
        <input type="range" min="0" max="100" value="50" id="fluidScale" style="width:100%; margin-top: 10px;">
        <div style="text-align:left; display:flex; justify-content: space-between; margin-bottom: 5px;">
            <span>100</span>
            <span>90</span>
            <span>80</span>
            <span>70</span>
            <span>60</span>
            <span>50</span>
            <span>40</span>
            <span>30</span>
            <span>20</span>
            <span>10</span>
            <span>0</span>

        </div>
        <div
            style="background: rgb(0,240,0);
background: linear-gradient(90deg, green 0%,  dodgerblue 25%,  yellow 50%, red 75%, black 100%);height: 5px">
        </div>
        <div style="font-style: italic; text-align:left; display:flex; justify-content: space-between; margin-bottom: 5px;">
            <span>Excelent</span>
            <span>Good</span>
            <span>Medium</span>
            <span>Poor</span>
            <span>Very Poor</span>
        </div>
        <div
            style="font-weight: bold; text-align:left; display:flex; justify-content: space-between; margin-bottom: 45px;">


        </div>
        <div class="invalidNumber alert alert-danger" style="display: none;">
            A value you entered was not a valid value and was reset. Please try again. <button
                class="btn btn-outline-danger no-shadow" id="btnDismiss">Dismiss</button>
        </div>
    </div>
    <hr />
    <button data-toggle="modal" data-target="#scaleModal" class="scale_submit btn btn-primary "><i
            class="fas fa-check-square" aria-hidden="true"></i> Submit!</button>
    <button class="scale_back btn btn-danger " routerLink="/ipc"><i class="fas fa-times"
            aria-hidden="true"></i> Cancel</button>

</div>


<div class="modal fade" id="scaleModal" tabindex="-1" aria-labelledby="submitScaleMsg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scaleModalLabel">Submit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="scaleModal-body">
                <p>Is this correct? Submit this value now?</p>
                <b><p class="scale_showSelected"></p></b>
                <div class="invalidNumber alert alert-danger">
                    A value you entered was rejected and reset. Make sure the current one is correct.
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="
window.onbeforeunload = null; //IMPORTANT
document.location = 'home.design.html'
" type="button" class="modal_done btn btn-success">
                    <i class="fas fa-chevron-right"></i> Confirm!
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fas fa-times"></i> Go Back</button>
            </div>
        </div>
    </div>
</div>