<app-topbar></app-topbar>
<div style="padding: 10px;">
    <h1>Extras</h1>
    <h2>About</h2>
    <p>This app makes it eaiser to perform regular check ups on some patients as it is done remotely. Some people may
        have find it an anxiety or strain to constantly take to the clinic to do checkups. This app may take care of it
        by having most of it done remotely.</p>
    <p>This app is avaliable to permitted patients with these issues:</p>
    <ul>
        <li><b>Pleural effusion</b></li>
    </ul>
    <p>This app also takes care of selected exersises to do with the checkup such as VAS score.</p>
    <p> <button class="btn btn-sm btn-outline-primary no-shadow"><i class="fas fa-external-link-alt"></i> Learn
            More</button></p>
    <h2>Contacts</h2>
    <div class="alert alert-danger">
        <h5>Emergency</h5>
        <p>In an emergency, call <i class="fas fa-phone-alt"></i><b>000</b></p>
        <div class="alert alert-warning">DO NOT use this app in the event of a medical emergency! This app is not
            monitored.</div>
    </div>
    <div class="alert alert-info">
        <h5>Contact</h5>
        <p><i class="fas fa-phone-alt"></i> <b>XXXX XXXX XXXX</b></p>
        <p><i class="fas fa-globe"></i> www.xxxxxxxxxx.com.au</p>
    </div>
    <div class="alert alert-info">
        <h5>Contact</h5>
        <p><i class="fas fa-phone-alt"></i> <b>XXXX XXXX XXXX</b></p>
        <p><i class="fas fa-globe"></i> www.xxxxxxxxxx.com.au</p>
    </div>
    <div class="alert alert-info">
        <h5>Contact</h5>
        <p><i class="fas fa-phone-alt"></i> <b>XXXX XXXX XXXX</b></p>
        <p><i class="fas fa-globe"></i> www.xxxxxxxxxx.com.au</p>
    </div>
</div>